html {
	color: $black;
	font-size: 125%;
	font-family: $primaryFont;
	font-weight: 400;
	overflow-x: hidden;
}

.outerWrapper {
	margin: 50px;
}

.wrapper {
	position: relative;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

body {
	// background-image: url('./../assets/plant.jpg');
	// background-repeat: no-repeat;
	// background-position: 80% 120%;
	background-color: $white;
	margin: 0;
	// background-attachment: fixed;
	line-height: 32px;
	letter-spacing: 2px;
}

header .wrapper {
	display: flex;

	.headerBox {
		width: 40%;

		h1 {
			margin-bottom: 20px;
			font-size: 2.37rem;
			
			span {
				font-size: 1.33rem;
			}
		}

		h2 {
			margin-top: 0;
			font-size: 1.33rem;
		}

		h3 {
			font-size: 1rem;
		}

	}
}

nav {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	padding: 0;


	ul {
		display: flex;
		justify-content: space-around;
		width: 100%;
		list-style: none;

		li {
			margin: 10px;
		}
	}

	a {
		position: relative;
		text-decoration: none;
		padding-bottom: 8px;

		&:hover {
			// transition: .2s;
			// color: $primaryColor;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0; right: 0;
			height: 1.5px;
			background-color: $primaryColor;
		}

		&:before {
			opacity: 0;
			transform: translateY(- 8px);
			transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
		}
		
		&:after {
			opacity: 0;
			transform: translateY(4px);
			transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
		}
		
		&:hover,
		&:focus {
			&:before,
			&:after {
				opacity: 1;
				transform: translateY(0);
			}
		
			&:before {
				transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
			}
		
			&:after {
				transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
			}
		}
	}
}

.hamburger {
	display: none;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: $black;
}

.clickHere {
	font-weight: 600;
}

svg.fa-pagelines {
	@include position (fixed, null, 220px, 120px, null);
	height: 300px;
	width: 300px;
	z-index: -1;
}

footer {
	@include position (fixed, null, null, 0, null);
	display: flex;
	align-items: center;
	background: $black;
	width: 100%;
	height: 50px;
	color: $white;
	padding: 10px 0;
	font-size: .75rem;
	text-align: center;

	.wrapper p {
		width: 100%;
		margin: 0;
		font-size: .75rem;
	}

	a {
		color: $white;

		&:hover {
			color: $primaryColor;
		}
	}
}

// @media (max-width: 1200px) {
// 	nav ul {
// 		position: fixed;
// 		display: none;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		background: #5b78c7;
// 		height: 100vh;
// 		width: 100%;
// 		margin: 0;
// 	}
	
// 	.hamburger {
// 		position: absolute;
// 		right: 20px;
// 		top: 20px;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: space-between;
// 		height: 20px;
		
// 		span {
// 			background-color: $black;
// 			height: 4px;
// 			width: 30px;
// 			border-radius: 10px;
// 		}
// 	}
// }