// Colour scheme
$white: #f0f0f0;
$black: #272727;
$primaryColour: #385b4f; // logo green
$secondaryColour: #b27409; // logo yellow/gold 
$tertiaryColour: #830c4f; // pink box
$quaternaryColour: #ab1d79; // pink line
$quinaryColour: #3589a1; // blue dot
$senaryColour: #e05a47; // i just also like this color...

// Fonts
$primaryFont: 'Alice', serif;
$secondaryFont: 'Open Sans', sans-serif;

$red: #F37272;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);