html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background: #fef8f6;
  margin: 0;
  color: #272727;
  font-family: "Alice", serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #272727;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

header .wrapper h1 {
  margin-bottom: 20px;
  font-size: 2.37rem;
  line-height: 1;
}

header .wrapper h1 span {
  font-size: 1.33rem;
}

header .wrapper h2 {
  margin-top: 0;
  font-size: 1.33rem;
}

header .wrapper h3 {
  font-size: 1rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
}

nav .image-container {
  width: 250px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav ul li {
  margin: 10px;
}

nav a {
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}

nav a:before, nav a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: #b27409;
}

nav a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav a:hover:before, nav a:hover:after, nav a:focus:before, nav a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav a:hover:before, nav a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav a:hover:after, nav a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger {
  width: 35px;
  height: 25px;
  position: fixed;
  top: 40px;
  right: 80px;
  display: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #272727;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 9px;
}

.hamburger span:nth-child(4) {
  top: 18px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.book-now {
  background: #272727;
  padding: 10px;
  margin: 5px;
  color: #fef8f6;
  font-family: "Montserrat", sans-serif;
  font-size: .75rem;
  font-weight: 550;
  letter-spacing: 0.2px;
  border-radius: 5px;
}

.clickHere {
  font-weight: 600;
}

svg.fa-pagelines {
  position: fixed;
  right: 220px;
  bottom: 120px;
  height: 300px;
  width: 300px;
  z-index: -1;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(39, 39, 39, 0.75);
  width: 100%;
  color: #fef8f6;
  padding: 10px 0;
  text-align: center;
}

footer .wrapper p {
  width: 100%;
  margin: 0;
  font-size: .5rem;
}

footer a {
  color: #fef8f6;
}

footer a:hover {
  color: #b27409;
}

@media (max-width: 1150px) {
  header .wrapper nav {
    display: none;
  }
  header .wrapper .hamburger {
    display: block;
  }
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main img {
  float: right;
  width: 20vw;
  margin-left: -20px;
  shape-outside: url("./../assets/plant-4.svg");
  shape-margin: 0.8em;
  shape-image-threshold: 0.5;
}

.home {
  width: 100%;
  height: 100vh;
}

.home p {
  margin: 30px 0;
}

.consultation {
  width: 100%;
  height: 100vh;
}

.consultation nav ul li:nth-of-type(2) a {
  color: #b27409;
  text-shadow: 1px 1px #272727;
}

.consultation p {
  width: 60%;
  margin: 50px 0 0;
}

.consultation p a {
  -webkit-transition: .3s;
  transition: .3s;
}

.consultation p a:hover {
  color: #b27409;
}

.consultation .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.consultation .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin: 30px;
}

.consultation .socialIcons svg {
  height: 50px;
  width: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.consultation .socialIcons svg:hover {
  color: #b27409;
}

.consultation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 55%;
  padding: 30px;
}

.consultation form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  padding: 0;
  border: none;
}

.consultation form input {
  height: 40px;
  padding-left: 15px;
  margin: 0 0 10px;
  border: 2px solid #272727;
  border-radius: 0;
}

.consultation form .textareaBox {
  width: 100%;
  margin-bottom: 20px;
}

.consultation form .textareaBox textarea {
  height: 150px;
  width: 100%;
  padding: 5px 0 0 15px;
  border: 2px solid #272727;
  border-radius: 0;
  resize: none;
}

.consultation form .buttonBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultation form .buttonBox button {
  height: 40px;
  width: 130px;
  border: none;
  background-color: #b27409;
  -webkit-transition: .3s;
  transition: .3s;
}

.consultation form .buttonBox button:hover {
  background-color: #e3940b;
}

.contact {
  width: 100%;
  height: 100vh;
}

.contact main img {
  float: right;
  width: 20vw;
  margin-left: -20px;
  shape-outside: url("./../assets/plant-4.svg");
  shape-margin: 0.8em;
  shape-image-threshold: 0.5;
}

.contact main p:first-of-type {
  margin: 30px 0 0;
}

.contact p a {
  -webkit-transition: .3s;
  transition: .3s;
}

.contact p a:hover {
  color: #b27409;
}

.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 30px;
  padding: 0 100px;
}

.contact .socialIcons svg {
  height: 50px;
  width: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .socialIcons svg:hover {
  color: #b27409;
}

.contact .practice-better {
  background-color: white;
  height: 606px;
  padding: 20px;
  border: 2px solid #272727;
}

.contact .better-inline-booking-widget {
  position: relative;
  width: 100%;
  height: 566px;
  margin-bottom: 50px;
}

.contact .better-inline-booking-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.herbalMedicine {
  width: 100%;
  height: 100vh;
}

.herbalMedicine main img {
  float: right;
  width: 20vw;
  margin-left: -20px;
  shape-outside: url("./../assets/plant-4.svg");
  shape-margin: 0.8em;
  shape-image-threshold: 0.5;
}

.herbalMedicine main p {
  font-size: .9rem;
}

.herbalMedicine main p:last-of-type {
  margin-bottom: 100px;
}
